* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2px;
  padding:2px;
  width: 99%;
  height: 100%;
  background-color: #f7fafc;
 

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-image:url(Assets/body-image.jpg);
  padding: 5px;
}
.container div {
  background-color: white;
  /* border: solid 2px black; */
}

.grid1 {
  grid-area: header;
  text-align: center;
  min-height: 30px;
  background-image: url(Assets/tech.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}


.grid2 {
  grid-area: body;
  text-align: center;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  background-image: url(Assets/body-image.jpg);
}

.grid3 {
  grid-area: footer;
  text-align: center;
  min-height: 250px;
  display: flex;
  justify-content: space-between;

}

.photo {
  align-self: center;
  width:30%;
  min-height: 80%;
  margin: 5px;
  border-radius: 100%;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px ;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(Assets/batman.jpg);
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease; opacity: 0.3s;
}
.photo:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
 .photo-container {
      position: relative;
      display: inline-block;
    }

    .tooltip-text {
      visibility: hidden;
      width: 160px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .photo-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }


.about-myself {
 
  border: .5px solid black;
  width: 50%;
  margin: 10px;
  padding: 5px;
  background-image: url(Assets/about\ myself.jpg);
  background-position:center;
  background-size: center;
}
.about-myself h3  {
  text-decoration: underline;
  
}


.about-myself p {
  line-height: 4rem;
}
.grid3 {
  background-image: url(Assets/myself\ picture.jpg);
}
.hobbies {
 
  width: 50%;
  height: 100%;
  background-image: inherit;
  padding: 2px;
}
.hobbies h3 {
  margin-top: 5px;
  text-decoration: underline;
}
.hobbies p {
  margin-top: 3px;
}
.hobbies ul li {
  margin-bottom: 15px;
  list-style: none;
}
.hobbies ul {
  margin-top: 10px;
}

.aspirations {
  width: 50%;
  height: 100%;
  background-image: inherit;
  padding: 2px;
}
.aspirations h3 {
  margin-top: 5px;
  text-decoration: underline;
}

.aspirations ul li {
  list-style: none;
  margin-top: 10px;
}

.text1, .text2, .text3, {
    transition: transform 0.3s ease; opacity: 0.3s;
}


}
.text2:hover {
 transform: scale(1.1);
 opacity: 0.8;
}
.text1:hover {
 transform: scale(1.1);
 opacity: 0.8;
}
.text3:hover {
 transform: scale(1.1);
 opacity: 0.8;
}

.grid1 h1 {
 color: white;
 transition: color 0.3 ease;
}
.grid1 h1:hover {
  color:rosybrown;
}
}